@font-face {
	font-family: 'metro-black';
	src: url('../assets/font/metro-black-alt.otf') format('opentype');
}

@font-face {
	font-family: 'metro-medium';
	src: url('../assets/font/metro-medium-oblique.otf') format('opentype');
}
