h1 {
	font-family: 'Uphoria-Endeavour', serif;
	font-size: min(18vw, calc(var(--fs-12) * 5));
	line-height: min(18vw, calc(var(--fs-12) * 5));
	font-weight: var(--fw-6);
	color: var(--clr-primary);
}

h1 span {
	font-family: 'Eureka-Endeavour', serif;
}

h2 {
	font-family: 'Eureka-Endeavour', serif;
	font-size: var(--fs-12);
	line-height: var(--fs-9);
}

* {
	font-family: 'JetBrains Mono', monospace;
	color: var(--clr-primary);
}

a {
	text-decoration: none;
}

a:visited {
	color: var(--clr-primary);
}

marquee {
	font-size: var(--fs-1);
}

p {
	font-size: var(--fs-1);
	color: var(--clr-primary);
}

p[data-variant='feat'] {
	font-size: var(--fs-12);
	line-height: var(--fs-9);
}

p[data-variant='feat'] span {
	font-family: 'Uphoria-Endeavour', serif;
	font-size: calc(var(--fs-12) * 2);
}
